[build-system]
requires = ["uv_build>=0.10.6,<0.11.0"]
build-backend = "uv_build"

[project]
name = "puregym-bot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "aiosqlite>=0.22.1",
    "pydantic-settings>=2.13.1",
    "python-telegram-bot>=22.6",
    "sqlmodel>=0.0.37",
]
